.paint-tools {
	grid-area: tools;
	display: flex;
	flex-flow: row wrap;
	width: var(--tools-container-width);
}

.paint-tools > div {
	padding: var(--tool-padding);
	width: var(--tool-width);
	background-color: var(--tool-background-color);
}

.tool-btn {
	cursor: pointer;
	margin: 5px;
	width: 30px;
	height: 30px;
}

@media screen and (max-width: 1024px) {
	.paint-tools > div.paint-historyNavigator {
		width: 10%;
	}

	.paint-tools > div.paint-palette {
		width: 60%;
	}

	.paint-tools > div.paint-brushWeight {
		width: 15%;
	}
}
