.app-container {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-areas: var(--main-areas-template);
	grid-template-columns: var(--main-columns-template);
	grid-auto-rows: auto;
	align-items: stretch;
	justify-content: stretch;
	flex-flow: row wrap;
}
